<div class="alert alert-success" *ngIf="saved">
    Exchange details saved successfully.
</div>
<div class="container mt-5">
    <div class="card">
        <div class="container-fluid">
            <h2 class="text-center mb-3">Add Exchange</h2>
            <form [formGroup]="addForm">
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <label for="stockExchange">Stock Exchange<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="stockExchange" formControlName="stockExchange"
                            placeholder="Enter stockExchange" >
                        <small
                            *ngIf="(stockExchange.invalid && (stockExchange.touched || stockExchange.dirty) )&& stockExchange.errors.required"
                            class="text-danger">Stock Exchange is required.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="brief">Brief<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="brief" id="brief"
                                placeholder="Enter brief" required>
                            <div class="text-danger " *ngIf="brief.invalid &&(brief.touched||brief.dirty)">
                                <small class="text-danger" *ngIf="brief.errors.required">brief is required
                                </small>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="contactAddress">Contact Address<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="contactAddress" id="contactAddress"
                                placeholder="Enter Contact Address" required>
                            <div class="text-danger "
                                *ngIf="contactAddress.invalid &&(contactAddress.touched||contactAddress.dirty)">
                                <small class="text-danger" *ngIf="contactAddress.errors.required">Contact Address is
                                    required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="remarks">Remarks</label>
                            <input type="textarea" class="form-control" id="remarks" formControlName="remarks"
                                placeholder="Enter Remarks" required>
                            <div class="text-danger " *ngIf="remarks.invalid &&(remarks.touched||remarks.dirty)">
                                <small class="text-danger" *ngIf="remarks.errors.required">remarks is required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="active">Active</label>  //change1
                            <input type="radio" class="form-control" id="active" formControlName="active"
                                 required>
                            <div class="text-danger " *ngIf="active.invalid &&(active.touched||active.dirty)">
                                <small class="text-danger" *ngIf="active.errors.required">active is required
                                </small>
                            </div>
                        </div>
                    </div>
                </div> -->
			
				
                <div class="form-row col-sm-12 col-lg-12 mb-5">
                    <div class=" form-group mx-auto ">
                        <button type="submit" class="btn color text-light " (click)=onSubmitAddForm()
                            [disabled]="!(addForm.valid)">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>